.Rproj.user
.Rhistory
.RData
.Ruserdata

mar.Rproj

.DS_Store
.lintr
test/*
tests/testthat/testdata/*.rds
tests/testthat/testdata/*.rda
tests/testthat/testdata/1001g
*.pdf
*.png
*.jpg
tmpobjects
ARCHIVE
