.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll

mar.Rproj

.DS_Store
.lintr
test/*
tests/testthat/testdata/*.rds
tests/testthat/testdata/*.rda
*.pdf
*.png
*.jpg
tmpobjects
ARCHIVE
